div#missionTitle {
  right: calc(45vw + 65px) !important;
}

.side-nav {
  right: calc(45vw + 0px) !important;
  display: none;
}
a#hamburger {
  right: calc(45vw + 20px);
}

#sidenav-overlay {
  right: 45vw !important;
}
button.green {
  background-color: #6b9658 !important;
  color: white;
}
button.green:hover {
  background-color: #557846 !important;
  color: grey;
}
button#resetSimulator {
  position: absolute !important;
  right: 23vw;
  top: 90vh;
}
button#fullScreen {
  position: absolute !important;
  right: 18vw;
  top: 90vh;
}
button#toggleGrid {
  position: absolute !important;
  right: 13vw;
  top: 90vh;
}
button#ringGen {
  position: absolute !important;
  right: 8vw;
  top: 90vh;
}
button#toogleSound {
  position: absolute !important;
  right: 5.5vw;
  top: 90vh;
  padding: 0 5px 0 5px;
}
#toast-container {
  top: 0% !important;
  right: 1% !important;

}

div#blocklyArea {
  float: left !important;
  width: 55%;
  height: 100%;
}
div#blocklyArea.half {
  float: left !important;
  width: 55% !important;
  height: 100%;
}

div#blocklyArea.full {
  float: left !important;
  width: 100% !important;
  height: 100%;
}

div#droneArea {
  float: left;
  width: 45%;
  height: 100%;
  overflow: hidden;
  display: block;
}

div#droneArea.hidden {
  display: none;
}

div#droneArea.visible {
  display: block;
}

.row .col{
  float: none !important;
}